discord.py==1.6.0
aiohttp==3.7.3
requests==2.25.1
Pillow==8.1.0
numpy==1.19.5
pytesseract==0.3.7
selenium==4.0.0a7
discord-webhook==0.11.0
async-timeout==3.0.1
six==1.15.0
striprtf==0.0.12
tika==1.24
pdf2image==1.14.0
