pygoogletranslation==2.0.4
discord-webhook==0.11.0
async-timeout==3.0.1
pydictionary==2.0.1
pytesseract==0.3.7
discord.py==1.6.0
selenium==4.0.0a7
pdf2image==1.14.0
requests==2.25.1
markdown2==2.4.0
wikipedia==1.4.0
aiohttp==3.7.3
pytube==10.4.1
pnglatex==1.1
Pillow==8.1.0
numpy==1.19.5
imgkit==1.0.2
pytz==2020.5
six==1.15.0
